html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    /* Center the body horizontally */
    margin: 0 auto;
    /* Center the child div vertically (part 1). Note that we use
    the `display: table` and `vertical-align: middle` way to do
    it instead of `display: flex` because old IE doesn't support
    it. */
    display: table;

    line-height: 1.5em;
    /* Use the system font instead of the default sans-serif font
       because it's too ugly. */
    font-family: system-ui;
}
#center-horizontal {
    /* Center the child div vertically (part 2) */
    display: table-cell;
    vertical-align: middle;
}
#center-vertical {
    max-width: 25em;
    padding: 2em;
}
